@font-face {
  font-family: "GUMBALL FONT";
  font-style: normal;
  font-weight: normal;
  src:
    local("GUMBALL FONT"),
    url("Gumball.ttf") format("truetype");
}

.brand {
  font-family: "GUMBALL FONT";
  font-weight: 500;
  font-size: 48px;
  color: #0ccac4;
  margin: 20px 0;
  padding-top: 10px;
}

.signoutButton {
  cursor: pointer;
  background: none;
  background-image: url(../assests/icons/exit.png);
  background-size: cover;
  border: none;
  width: 80px;
  height: 70px;
  margin-bottom: 20px;
}

.main {
  margin-top: 300px;
  margin-bottom: 100px;
}

@media screen and (min-width: 600px) {
  .brand {
    font-size: 64px;
  }
}
